* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1%;
    background-color: coral;
    color: teal;
}

h1 {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    flex: content;

}

h2 {
    font-size: 150%;
    margin: 3% 0;
}

#aboutme {
    display: flex;
    flex-direction: column;
}

/* background-image: url(/Users/justingeorgevalencia/Downloads/IMG_3327.jpg); */

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    margin: 3% 0;
}

nav a {
    color: teal;
    font-weight: bold;
    text-decoration: none;

}

nav a:hover {
    color: white;
}

.work a {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}